USE [MAS_AML]
GO
/****** Object:  StoredProcedure [dbo].[isSp_CopyNewMakeItemsFromBills]    Script Date: 7/4/2026 12:35:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[isSp_CopyNewMakeItemsFromBills]
    @ImportFileName   NVARCHAR(255),
    @WindowsUser      NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    -- Insert distinct item codes from the import file that are not already
    -- present in isBOMImport_NewMakeItems.  Only the very first occurrence
    -- (lowest Id) within this file is used for the description.
    INSERT INTO dbo.isBOMImport_NewMakeItems
    (
        ItemCode,
        ImportFileName,
        ImportDate,
        ItemDescription,
        ProductLine,
        ProductType,
        Procurement,
        StandardUnitOfMeasure,
        SubProductFamily,
        StagedItem,
        Coated,
        GoldenStandard,
        IsIntegrated,
        CreatedDate,
        CreatedWindowsUser,
        ModifiedDate,
        ModifiedWindowsUser
    )
    SELECT
        src.ComponentItemCode  AS ItemCode,
        src.ImportFileName,
        src.ImportDate,
        src.ComponentDescription AS ItemDescription,
        NULL                   AS ProductLine,
        src.ProductType,
        src.ProcurementType,
        'EACH'                 AS StandardUnitOfMeasure,
        NULL                   AS SubProductFamily,
        0                      AS StagedItem,
        0                      AS Coated,
        0                      AS GoldenStandard,
        0                      AS IsIntegrated,
        GETDATE()              AS CreatedDate,
        @WindowsUser           AS CreatedWindowsUser,
        GETDATE()              AS ModifiedDate,
        @WindowsUser           AS ModifiedWindowsUser
    FROM
    (
        -- Pick the single row with the lowest Id for each unique ComponentItemCode
        -- within this import file.
        SELECT
            b.ComponentItemCode,
            b.ProductType,
            b.ProcurementType,
            b.ImportFileName,
            b.ImportDate,
            b.ComponentDescription,
            ROW_NUMBER() OVER (PARTITION BY b.ComponentItemCode ORDER BY b.Id ASC) AS rn
        FROM dbo.isBOMImportBills b
        WHERE b.ImportFileName = @ImportFileName
          AND b.Status         = 'NewMakeItem'
    ) src
    WHERE src.rn = 1
      -- Skip any item code already captured from a previous import
      AND NOT EXISTS
      (
          SELECT 1
          FROM dbo.isBOMImport_NewMakeItems existing
          WHERE existing.ItemCode = src.ComponentItemCode
      );

    SELECT @@ROWCOUNT AS InsertedCount;
END;
